.card__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special-grey-2;
}

.card__title--yet {
  color: $color-black-1;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
}

.card__button--yet {
  background-color: $program_background-color;
  color: $special-grey-4;
}

.card__button--plus {
  cursor: pointer;
  background-color: $color-white;
  background-image: url("../../icons/stack.svg#plus");
  border: none;
  width: 30px;
  height: 30px;
}
