.more__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-grey-2;
}

.more__pack {
  font-size: 14px;
  line-height: 14px;
}

.more__price {
  font-size: 14px;
  line-height: 14px;
}
