.subscription__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
}

.subscription__text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
}

.subscription__input {
  font-family: $second-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $special-grey-4;
  text-transform: uppercase;
}
